<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title>Sendmessage</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
   <script type="text/javascript">
// extend Modernizr to have datauri test
    (function(){
      var datauri = new Image();
      datauri.onerror = function() {
	  Modernizr.addTest('datauri', function () { return false; });
      };
      datauri.onload = function() {
	  Modernizr.addTest('datauri', function () { return (datauri.width == 1 && datauri.height == 1); });
	  Modernizr.load({
	    test: Modernizr.datauri,
	    nope: './css/no-datauri.css'
	  });
      };
      datauri.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
    })();
    // fallback if SVG unsupported
    Modernizr.load({
      test: Modernizr.inlinesvg,
      nope: [
	'./css/no-svg.css'
      ]
    });
    // polyfill for HTML5 placeholders
    Modernizr.load({
      test: Modernizr.input.placeholder,
      nope: [
	'./css/placeholder_polyfill.css',
	'./js/libs/placeholder_polyfill.jquery.js'
      ]
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
